<div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="#">
                <span class="topcoat-icon topcoat-icon--home"></span>
            </a>
    </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Detalle Obra</h1>
        </div>
   
   <div class='detalles scroller'>
	        {{#if imagen}}
        <center><img src="{{imagen}}" alt='{{imagen}}' class="imagen-portada"></center>
		{{/if}}
		<input id='idobra' type='hidden' value='{{id}}'/>
		<label class="topcoat-checkbox">
		<input id='seguir' type="checkbox" {{#if notlogged}}disabled{{/if}}{{#if seguidor}}checked{{/if}}>
		<div class="topcoat-checkbox__checkmark"></div>
		Seguir
		</label>
        <h1>{{nombre}} {{apellido}}</h1>
        <p><strong>Titulo:</strong> {{titulo}} </p>
        <p><strong>Autor: </strong><a href='#autor/{{autorId}}'><button class='topcoat-button--cta'>{{autor}}</button></a></p>
		<p><strong>Fecha Inicio:</strong> {{fechamod}}</p>
        <p><strong>Modificaci&oacute;n:</strong> {{fechamod}}</p>
        <p><em>{{desc}}</em></p>
     
					<div class="topcoat-list clearfix">
 <h3 class="topcoat-list__header">Cap&iacute;tulos</h3>
        <ul class="topcoat-list__container list actions">
           {{#each capitulos}}
				                <li class="topcoat-list__item"><a href="#capitulo/{{idCap}}" class="change-pic-btn"><p>{{nombre}}</p></a></li>
				{{/each}}
            </ul>
        </div>
    </div>
