<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet back-button" href="#">
<span class="topcoat-icon topcoat-icon--home"></span>
</a>
</div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">{{titulo}}</h1>
        </div>
 <div class='detalles scroller'>
         {{#if imagen}}
        <center><img src="{{imagen}}" class="imagen-portada"></center>
		{{/if}}
       {{#each texto}}
	 <p style='text-align:justify;'>{{par}}</p>
	   {{/each}}
	      <div class="topcoat-list__container clearfix">
			<h1 class="topcoat-navigation-bar__title">Comentario del autor</h1>
		</div>
		<p>{{comentarioAutor}}</p>
		<br>
		<br>
	   <div class="topcoat-list__container">
			<a href="#comentarios/{{id}}/{{obra}}" class="change-pic-btn"><button class="topcoat-button--cta full">Ver Comentarios</button></a>
		</div>
		<br>
		<br>
</div>