
<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet back-button" href="#">
<span class="topcoat-icon topcoat-icon--home"></span>
</a>
</div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Comentarios</h1>
        </div>

<input type='hidden' value='{{idC}}' id='idC'/>
<input type='hidden' value='{{idO}}' id='idO'/>
{{#if loggedID}}
<input type='text' class="topcoat-text-input full" id='comentario' value=''/><br><br>
<button id='enviarComentario' class='topcoat-button--cta full'>Enviar</button>
<br>
<br>
{{/if}}
<div class="topcoat-list">
    <ul class="topcoat-list__container list" id="lstComent">
 <h3 class="topcoat-list__header">Comentarios</h3>
 {{#each comentarios}}
    <li class="topcoat-list__item">
	<a href='#autor/{{idAutor}}'>
		   <table class='tituloautor'>
			<tr>
				<td>{{autor}}</td>
				<td>{{fecha}}</td>
			</tr>
		   </table>        
            <p>{{texto}}</p>
			</a>
      </li>
    {{/each}}
  </ul>
</div>